* {
    margin: 0;
    padding: 0;
}

.header {
    margin-left: 18px;
    margin-right: 12px;
    margin-top: 14px;
    margin-bottom: 21px;
    display: flex;
    
}

.title {
    font-family: "Gilroy-Bold";
    font-size: 60px;
    width: 522px;
    height: 222px;
}

.top__content {
    display: flex;
    padding-left: 16px;
    padding-top: 15px;
    margin-top: 21px;
    margin-left: 18px;
    margin-right: 27px;
}

.top_img {
}

.top__info {
    padding-top: 59px;
    padding-left: 41px;
}

.subtitle {
    font-family: 'Gilroy-Medium';
    font-size: 20px;
    line-height: 23px;
    color: #888888;
}

.top__buttons {
    display: flex;
    
    margin-top: 16px;
    margin-right: 195px;
    margin-bottom: 38px;
    
}



.button1 {
    
    width: 140px;
    height: 50px;
    margin-top: 21px;
    background: #F25822;
    box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
    border-radius: 50px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
}

.button2 {
    
    width: 90px;
    height: 19px;
    margin-top: 36px;
    font-family: 'Gilroy-Bold';
    font-size: 15px;
    line-height: 18px;
    margin-left: 72px;
    color: #AAAAAA;
    background: 
}

.top__logos {
    display: flex;
    
    margin-top: 53px;
    margin-bottom: 32px;
    margin-left: 34px;
    margin-right: 45px;
    padding-top: 59px;
    padding-bottom: 49px;
    padding-left: 13px;
    padding-right: 48px;
}

.logot {
    margin-right: 48px;
}

.logo {
    display: flex;
    margin-top: 26px;
    margin-left: 59px;
    margin-bottom: 48px;
}

.headlogoF {
    margin-right: 14px;
}

.headlogoS {
    margin-top: 5px;
}
/*
.menubar a {
    font-family: "Gilroy-SemiBold";
    color: #000;
    text-decoration: none;
}
*/
.link {
    font-family: "Gilroy-SemiBold";
    color: #000;
    text-decoration: none;
    margin-left: 22px;
}

.orange  {
    color: #F25822;
    text-decoration: none;
    font-family: "Gilroy-SemiBold";
}

.menubar {
    
    
    margin-top: 26px;
    margin-bottom: 48px;
    margin-right: 200px;
    margin-left: 337px;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 9px;
    padding-right: 14px;
    
    
    
    
    
}

.top {
    margin-left: 298px;
    margin-right: 303px;
    margin-bottom: 15px;
}